/* .comment-box-body {
  display: flex;
  align-items: center;
  flex-direction: column;
} */

.comment-box-header {
  display: flex;
 justify-content: center;
}

.comment-container {
  margin-right: 3rem;
  /* filter: drop-shadow(2px 2px 5px lightgrey); */
}

.comment-content-main {
  padding: 5px;
  border: lightgrey solid 1px;
  margin-left: 3rem;
}

.comment-content-mains {
  /* padding: 5px; */
  margin-left: 3rem;
}

.comment-box-form {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.comment-box-input {
  margin: 5px;
  margin-left: 0;
  margin-bottom: 0;
}

.comment-box-textarea {
  margin: 5px;
  margin-left: 0;
  margin-bottom: 0;
}

.comment-box-button {
  margin: 5px;
  margin-left: 0;
  margin-bottom: 0;
}